In [3]:
# Name: Rugved Dani
# Roll no: 281057
# prn no: 22311742

# Perform the following operations using R/Python on suitable data sets:
# a) read data from different formats (like csv, xls)
# b) Find Shape of Data
# c) Find Missing Values
# d) Find data type of each column
# e) Finding out Zero's
# f) Indexing and selecting data, sort data,
# g) Describe attributes of data, checking data types of each column,
# h) counting unique values of data, format of each column, converting variable
# data type (e.g. from long to short, vice versa)

In [1]:
import numpy as np
import pandas as pd

#a) read data from different formats (like csv, xls)
ds = pd.read_csv("insurance.csv")

In [3]:
ds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

In [4]:
# b) Find Shape of Data
ds.shape

(1338, 7)

In [5]:
# c) Find Missing Values
ds.isnull()

        age    sex    bmi  children  smoker  region  charges
0     False  False  False     False   False   False    False
1     False  False  False     False   False   False    False
2     False  False  False     False   False   False    False
3     False  False  False     False   False   False    False
4     False  False  False     False   False   False    False
...     ...    ...    ...       ...     ...     ...      ...
1333  False  False  False     False   False   False    False
1334  False  False  False     False   False   False    False
1335  False  False  False     False   False   False    False
1336  False  False  False     False   False   False    False
1337  False  False  False     False   False   False    False

[1338 rows x 7 columns]

In [7]:
# Find data type of each column
ds.dtypes

age           int64
sex          object
bmi         float64
children      int64
smoker       object
region       object
charges     float64
dtype: object

In [9]:
# Finding out Zero's
ds.isnull().sum()

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

In [11]:
# Indexing and selecting data, sort data,

sorted_ds = ds.sort_values(by='age', ascending=True)
sorted_ds.head()

      age     sex     bmi  children smoker     region       charges
57     18    male  31.680         2    yes  southeast  34303.167200
31     18  female  26.315         0     no  northeast   2198.189850
1023   18    male  23.320         1     no  southeast   1711.026800
427    18  female  29.165         0     no  northeast   7323.734819
1317   18    male  53.130         0     no  southeast   1163.462700

In [13]:
# Describe attributes of data, checking data types of each column,
ds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

In [14]:
# counting unique values of data, format of each column, converting variable
# data type (e.g. from long to short, vice versa)

unique_count = ds["age"].value_counts()
unique_count

age
18    69
19    68
46    29
52    29
50    29
47    29
48    29
51    29
45    29
20    29
24    28
27    28
28    28
25    28
23    28
49    28
54    28
53    28
22    28
21    28
26    28
31    27
41    27
44    27
43    27
42    27
29    27
30    27
40    27
32    26
33    26
57    26
34    26
55    26
56    26
35    25
58    25
37    25
59    25
39    25
36    25
38    25
62    23
60    23
63    23
61    23
64    22
Name: count, dtype: int64